<% include partials/header %>

   <nav>
     <a href=""><img src="../img/logoWhite.png" alt="logo"></a>
     <div id="nav-rightside">
       <ul>
         <li><a href="/">Home</a></li>
         <li><a href="about">About</a></li>
       </ul>

       <a href="upload" id="uploadBtn">Upload Dataset</a>
     </div>
   </nav>
<main class="aboutthat">
    <h1 class="title-is-3">About</h1>
    <p>Different interaction techniques are of significant importance to allow the user to modulate the view of the data, such that interesting and appealing insights can appear to him, from which information can be drawn. Hence we have added three types of representations to show different layouts, varieties of node and edge styles and many interaction tools, which make the diagram easy to manipulate.
  In order to see better connections between nodes a Hover Tool is being used.   If the user points a node he is interested in, the node highlights in a different color as well as all the edges connecting it to its neighbors, thus making them easy to see. The highlight disappears when to mouse pointer is moved away from the node.
  If the user wants the highlight to stay even when the mouse pointer is moved away from the node then a Select Tool is being used. Clicking over a node highlights it in different color as well as all edges connecting it to its. Holding additionally ‘Shift’ key from the keyboard could be used to extend selection with one or more nodes. They stay highlighted until another selection is done. A good example of its use is that a node can be selected and some other node can be just pointed, thus showing the connections for both nodes in different colors, which is perfect for side-to-side comparison.
  Moreover there is a way to select many edges at once by using the Box Select Tool. This tool is familiar to all computer users and easy to use.
  However it has its drawbacks since not every time the group of nodes we wish to select are aligned perfectly in a rectangular shape. For example we want to select a circular shape or any other kind. In this case the Lasso Select Tool is more useful. Its more complex design allows the user to make a selection in any shape he wishes.
  Simplicity is always more appealing than complexity from the user’s perspective. To keep the diagram as clean as possible we do not show all the information at the same time. If the user wishes to explore more, he can use the Tool Tip. By hovering over a node a small window pops up with information of the name of the node as well as its node degree.
  Sometimes the data is way too large for the user to get the information he is interested in.  To deal with this, one can make use of the Zooming Tool.  When this tool is selected Zooming In and Out becomes possible by scrolling the Mouse Wheel. This interaction gives the ability to focus on the little details or see the global picture.
  Having a simple static diagram with opportunity of making variable interaction is nice, but often one layout can unintentionally hide specific information from the user. This is why having different representation styles is important.  For the Node-Link diagram the user can switch between a circular, spring and force-directed layout.
  The Node-Link Diagram has weighted edges, this means that our data does not define only connectivity. To show this difference more clearly on the diagram an encoding for the edge’s width is being used. The greater the weight of the edge - the wider it appears. In addition all edges are displayed in gradient color depending of the weight as pointed in the color-bar near to the diagrams.
  These interactions make it easier for the user to find interesting insights in the data. If he wishes to save the current view of the Node-Link Diagram for later he can do a screen shot of the Diagram by pressing the Save button. This will save an image file in PNG format with all the changes and configurations.
  </p>

</main>

</body>
</html>
