<% include partials/header %>

   <nav>
	 <a href=""><img src="../img/logoWhite.png" alt="logo"></a>
     <div id="nav-rightside">
       <ul>
         <li><a href="/">Home</a></li>
         <li><a href="about">About</a></li>
       </ul>

       <a href="upload" id="uploadBtn">Upload Dataset</a>
     </div>
   </nav>
<main class="aboutthat">
    <h1 class="title-is-3">About</h1>
    <p>
	/TO DO ...Add something about the tool here.../<br/>
	</p>
	<br/><br/>
	<h1 class="title-is-3">Interaction Tools</h1>
	<p>
	<br/>
	<img src="../img/toolbar.png" alt="toolbar"><br/>
	 
	<li> 1 - Pan<br/></li>
    The pan tool allows the user to pan the plot by left-dragging a mouse.<br/><br/> 
    
    <li> 2 - Box Select<br/></li>
    The box selection tool allows the user to define a rectangular selection region by left-dragging a mouse.<br/><br/>

    <li> 3 - Lasso Select<br/></li>
    The lasso selection tool allows the user to define an arbitrary region for selection by left-dragging a mouse.<br/><br/>
    
    <li> 4 - Box Zoom<br/></li>
    The box zoom tool allows the user to define a rectangular region to zoom the plot bounds too, by left-dragging a mouse.<br/><br/>
    
    <li> 5 - Wheel Zoom<br/></li>
    The wheel zoom tool will zoom the plot in and out, centered on the current mouse location.<br/><br/>
	
    <li> 6 - Tap<br/></li>
    The tap selection tool allows the user to select at single points by clicking a left mouse button.
	Useful if the user wants the highlight to stay even when the mouse pointer is moved away from the node.
	Clicking over a node highlights it in red as well as all edges connecting it to it.
	They stay highlighted until another selection is done.
	A good example of its use is that a node can be selected and a second node can be just pointed,
	thus showing the connections for both nodes in different colors, which is perfect for side-to-side comparison.<br/><br/>

	<li> 7 - Zoom In<br/></li>
    The zoom-in tool will increase the zoom of the plot.<br/><br/>
	
	<li> 8 - Zoom Out<br/></li>
    The zoom-out tool will decrease the zoom level of the plot.<br/><br/>
	
	<li> 9 - Reset<br/></li>
    Reset button takes the diagram to its initial state, removing all interactions made so far.<br/><br/>
    
	<li> 10 - Undo<br/></li>
	The undo tool allows to restore previous state of the plot.<br/><br/>
	
	<li> 11 - Redo<br/></li>
	The reset tool will restore the plot ranges to their original values.<br/><br/>
	
	<li> 12 - Save<br/></li>
    With the interactions listed so far the user can find interesting insights in the data.
	If he wishes to save the current view of the visualization for later he can do a screen shot of the diagram by pressing the Save button.
	This will save an image file in PNG format.<br/><br/>
    
    <li> 14 - Help<br/></li>
	Press this button to learn more about the library itself.<br/><br/>

    <li> 13 - Hover<br/></li>
    Use this tool to see better connections between nodes.
	If the user points a node he is interested in, the node highlights in yellow as well as all the edges connecting it to its neighbors,
	thus making them easy to see. Also a window pops up with additional information for the node iteslf. The highlight disappears when to mouse pointer is moved away from the node.<br/><br/>
	
	<li> 15 - Bokeh Examples<br/></li>
    Press this button to see cool visualization examples with bokeh.<br/><br/>
	</p>

</main>

</body>
</html>
