<% include partials/header %>

    <nav>
      <img src="../img/logoWhite.png" alt="logo">
      <div id="nav-rightside">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="../about">About</a></li>
        </ul>

        <a href="../upload" id="uploadBtn">Upload Dataset</a>
      </div>
    </nav>

    <div class="choose-container">
      <div class="adj">
        <h1 class="title-is-3">Adjacency Matrix</h1>
        <p>Visualization of the data set with the aid of an adjacency matrix, offering alphabetical and random clustering, with different color schemes.</p>
        <button type="button" name="button" class="button is-info is-medium" onclick="location.href = '/viewmatrix' + window.location.pathname;">view</button>
      </div>

      <div class="node">
        <h1 class="title-is-3">Node-Link Diagram</h1>
        <p>Visualization of the data set with the help of Force-Directed, Spring, Circular and random representations of a node-link diagram.</p>
        <button type="button" name="button" class="button is-link is-medium" onclick="location.href = '/viewnodelink' + window.location.pathname;">view</button>
      </div>
	
      <div class="node">
        <h1 class="title-is-3">Statistics</h1>
        <p>Statistical information on the uploaded data set, such as the number of nodes and links, largest value, highest degree of a node etc.</p>
        <button type="button" name="button" class="button is-info is-medium" onclick="location.href = '/showstatistics' + window.location.pathname;">view</button>
      </div>

      <div class="node">
        <h1 class="title-is-3">Show both</h1>
        <p>Side by side view of both the adjacency matrix and node-link-diagram.</p>
        <button type="button" name="button" class="button is-info is-medium" onclick="location.href = '/viewboth' + window.location.pathname;">view</button>
      </div>
    </div>

</body>
</html>
