<% include partials/header %>

    <nav>
      <a href=""><img src="../img/logoWhite.png" alt="logo"></a>
      <div id="nav-rightside">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="about">About</a></li>
        </ul>

        <a href="upload" id="uploadBtn">Upload Dataset</a>
      </div>
    </nav>

    <div class="choose-container">
      <div class="adj">
        <h1 class="title-is-3">Adjacency Matrix</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla odio purus, imperdiet eu purus in, semper eleifend justo. Nunc mollis urna urna, a mollis erat pulvinar id. Phasellus est arcu, maximus et aliquet vel, vulputate at lacus.</p>
        <button type="button" name="button" class="button is-info is-medium" onclick="location.href = '/viewmatrix' + window.location.pathname;">view</button>
      </div>

      <div class="node">
        <h1 class="title-is-3">Node-Link Diagram</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla odio purus, imperdiet eu purus in, semper eleifend justo. Nunc mollis urna urna, a mollis erat pulvinar id. Phasellus est arcu, maximus et aliquet vel, vulputate at lacus.</p>
        <button type="button" name="button" class="button is-link is-medium" onclick="location.href = '/viewnodelink' + window.location.pathname;">view</button>
      </div>
    </div>

    <div class="choose-container">
      <div class="adj">
        <h1 class="title-is-3">Show both</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla odio purus, imperdiet eu purus in, semper eleifend justo. Nunc mollis urna urna, a mollis erat pulvinar id. Phasellus est arcu, maximus et aliquet vel, vulputate at lacus.</p>
        <button type="button" name="button" class="button is-info is-medium" onclick="location.href = '/viewboth' + window.location.pathname;">view</button>
      </div>

      <div class="node">
        <h1 class="title-is-3">Statistics</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla odio purus, imperdiet eu purus in, semper eleifend justo. Nunc mollis urna urna, a mollis erat pulvinar id. Phasellus est arcu, maximus et aliquet vel, vulputate at lacus.</p>
        <button type="button" name="button" class="button is-info is-medium" onclick="location.href = '/showstatistics' + window.location.pathname;">view</button>
      </div>
    </div>

</body>
</html>
