<% include partials/header %>

  <div id="intro">
    <nav>
      <img src="../img/logoWhite.png" alt="logo">
      <div id="nav-rightside">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="about">About</a></li>
        </ul>

        <a href="upload" id="uploadBtn">Upload Dataset</a>
      </div>
    </nav>
    <div id="intro-text">
      <img src="../img/logoIcon.png" alt="">
      <h1 class="title is-1">Welcome to Visualize DAT</h1>
      <p> Visualize DAT (Data Analytics Tool) is a tool for visualizing data created by Group 4.
		  Our tool is based on the work of well-known visualizations techniques,
		  such as node-link diagrams and adjacency matrices, which were created through a Python code. </p>
    </div>
  </div>

</body>
</html>
