<% include partials/header %>

  <div id="intro">
    <nav>
      <a href=""><img src="../img/logoWhite.png" alt="logo"></a>
      <div id="nav-rightside">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="about">About</a></li>
        </ul>

        <a href="upload" id="uploadBtn">Upload Dataset</a>
      </div>
    </nav>
    <div id="intro-text">
      <img src="../img/logoIcon.png" alt="">
      <h1 class="title is-1">Welcome to GROUP 4</h1>
      <p> Welcome to the visualization tool created by BCS Group 4!
		  Our tool is based on the work of well-known visualizations techniques,
		  such as node-link diagrams and adjacency matrices, which were created through a python code. </p>
    </div>
  </div>

</body>
</html>
