<% include partials/header %>

    <nav>
        <img src="../../../img/logoWhite.png" alt="logo">
        <div id="nav-rightside">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="../../../about">About</a></li>
            </ul>

            <a href="../../../upload" id="uploadBtn">Upload Dataset</a>
        </div>
    </nav>
    <div class="stats">
        <h1 class="title-is-1" align="center">Basic Statistics of uploaded file</h1>
        <br/>
        <p>
        The data has <stat_total_nodes> nodes.<br/>
        The matrix is of size <stat_total_nodes> x <stat_total_nodes> = <stat_max_possible_edges>.<br/>
        There are only <stat_total_edges> links.<br/>
        The sparse percentage of the matrix is <stat_sparce_percentage_of_dataset> %.<br/>
        The average value of a link is <stat_average_weigth>.<br/>
        The lowest value of a link is <stat_lowest_weigth>.<br/>
        The highest value of a link is <stat_highest_weigth>, which is between <stat_highest_weigth_persons>.<br/>
        The average number of connections a node has is <stat_average_degree>.<br/>
        The lowest number of connections a node has is <stat_lowest_degree>.<br/>
        <stat_highest_degree_person> is the node with highest number of connections, which is <stat_highest_degree>.<br/><br/>
        </p>
    </div>
</body>
</html>
