.stats {
  background-color: white;
  margin: auto;
  display: inline;
  width: 90%;
  padding: 20px;
  float: left;
  margin: 50px;
  border-radius: 10px;
}

h1 {
  font-size: 25px;
}

.aboutthat {
  background-color: white;
  margin: auto;
  display: inline;
  width: 100%;
  padding: 20px;
  float: left;
  margin-top: 100px;
  border-radius: 10px;
  color: black;
}
